In [24]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('cleaned.csv')
latlong=pd.read_csv('latitude_longitude.csv')
df

,price,bedRoom,bathroom,balcony,floorNum,agePossession,Location,Servant_Room,Study_Room,Pooja_Room,Store_Room,Built_Up_Area,furnishing_type,luxury_category
0,45.0,2.0,2.0,1.0,4.0,Relatively New,sector 7,0,0,0,0,1080.0,Unfurnished,Semi Luxurious
1,50.0,2.0,2.0,1.0,1.0,Old Property,sector 3,0,0,0,0,780.0,Fully Furnished,Semi Luxurious
2,40.0,2.0,2.0,3.0,12.0,New Property,sohna,0,0,0,0,714.0,Unfurnished,Not Luxurious
3,147.0,2.0,2.0,2.0,2.0,Under Construction,sector 61,0,1,0,0,1440.0,Unfurnished,Semi Luxurious
4,70.0,2.0,2.0,3.0,5.0,Under Construction,sector 92,0,1,0,0,1076.0,Unfurnished,Not Luxurious
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2807,135.0,2.0,2.0,2.0,1.0,Moderately Old,sector 28,0,0,0,0,1109.0,Unfurnished,Not Luxurious
2808,105.0,3.0,3.0,3.0,9.0,Under Construction,sector 86,1,0,0,0,1516.0,Unfurnished,Not Luxurious
2809,330.0,5.0,5.0,3.0,4.0,Old Property,sector 48,1,0,0,0,3305.0,Unfurnished,Semi Luxurious
2810,95.0,3.0,3.0,3.0,3.0,Relatively New,sector 108,0,0,0,0,1457.6,Unfurnished,Luxurious
2811,580.0,3.0,4.0,3.0,9.0,Old Property,sector 24,1,1,1,0,3700.0,Semi Furnished,Semi Luxurious

In [3]:
latlong

                     sector    Latitude    Longitude
0                  sector 1  28.3663Â° N   76.9456Â° E
1                  sector 2  28.5095Â° N   77.0320Â° E
2                  sector 3  28.4909Â° N   77.0176Â° E
3                  sector 4  28.4738Â° N   77.0107Â° E
4                  sector 5  28.4794Â° N   77.0176Â° E
..                      ...         ...          ...
180   mehrauli gurgaon road  28.4740Â° N   77.0730Â° E
181            laxman vihar  28.4530Â° N   77.0160Â° E
182  gurgaon faridabad road  28.4440Â° N   77.0950Â° E
183           opp sector 14  28.4790Â° N   77.0440Â° E
184           rajendra park  28.4730Â° N   77.0200Â° E

[185 rows x 3 columns]

In [4]:
df.rename(columns={
    'Location':'sector'
},inplace=True)

In [6]:
df=pd.merge(df,latlong,how='inner',on='sector')
df.to_csv('new_df.csv',index=False)

In [14]:
df

,price,bedRoom,bathroom,balcony,floorNum,agePossession,sector,Servant_Room,Study_Room,Pooja_Room,Store_Room,Built_Up_Area,furnishing_type,luxury_category,Latitude,Longitude
0,45.0,2.0,2.0,1.0,4.0,Relatively New,sector 7,0,0,0,0,1080.0,Unfurnished,Semi Luxurious,28.4644,77.0143
1,50.0,2.0,2.0,1.0,1.0,Old Property,sector 3,0,0,0,0,780.0,Fully Furnished,Semi Luxurious,28.4909,77.0176
2,40.0,2.0,2.0,3.0,12.0,New Property,sohna,0,0,0,0,714.0,Unfurnished,Not Luxurious,28.2470,77.0650
3,147.0,2.0,2.0,2.0,2.0,Under Construction,sector 61,0,1,0,0,1440.0,Unfurnished,Semi Luxurious,28.4050,77.0963
4,70.0,2.0,2.0,3.0,5.0,Under Construction,sector 92,0,1,0,0,1076.0,Unfurnished,Not Luxurious,28.4079,76.9153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,135.0,2.0,2.0,2.0,1.0,Moderately Old,sector 28,0,0,0,0,1109.0,Unfurnished,Not Luxurious,28.4728,77.0865
2798,105.0,3.0,3.0,3.0,9.0,Under Construction,sector 86,1,0,0,0,1516.0,Unfurnished,Not Luxurious,28.3986,76.9384
2799,330.0,5.0,5.0,3.0,4.0,Old Property,sector 48,1,0,0,0,3305.0,Unfurnished,Semi Luxurious,28.4177,77.0359
2800,95.0,3.0,3.0,3.0,3.0,Relatively New,sector 108,0,0,0,0,1457.6,Unfurnished,Luxurious,28.5134,76.9830
2801,580.0,3.0,4.0,3.0,9.0,Old Property,sector 24,1,1,1,0,3700.0,Semi Furnished,Semi Luxurious,28.4939,77.1038

In [13]:
df['Latitude']=df['Latitude'].str.replace('Â° N','')
df['Longitude']=df['Longitude'].str.replace('Â° E','')
df['Latitude']=df['Latitude'].astype('float')
df['Longitude']=df['Longitude'].astype('float')

In [28]:
numeric_columns = ['price', 'Built_Up_Area', 'Latitude', 'Longitude']
df.groupby('sector')[['price', 'Built_Up_Area', 'Latitude', 'Longitude']].mean()

                             price  Built_Up_Area  Latitude  Longitude
sector
adarsh nagar            112.000000    1640.500000    28.477    77.0320
ats marigold            160.000000    1400.000000    28.476    77.0800
civil lines             125.000000    1704.000000    28.474    77.0310
cyber city              250.000000    2800.000000    28.494    77.0880
gurgaon faridabad road   60.000000     930.000000    28.444    77.0950
...                            ...            ...       ...        ...
sector 99               100.810714    1303.388190    28.464    76.9614
sohna                    80.645631     998.833961    28.247    77.0650
subhash nagar            60.000000     864.000000    28.471    77.0300
surya vihar             130.000000    2400.000000    28.470    77.0190
sushant lok             295.500000    1897.800000    28.455    77.0820

[115 rows x 4 columns]

In [1]:
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import ast

C:\Users\ASUS\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('C:/Users/ASUS/Downloads/apartments.csv').drop(22)
df

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."
...,...,...,...,...,...,...,...
242,DLF Princeton Estate,"2, 3, 4 BHK Apartment in DLF Phase 5, Gurgaon","['Sector 42-43 Metro Station', 'Paras Hospital...","{'Sector 42-43 Metro Station': '1.8 Km', 'Para...",https://www.99acres.com/dlf-princeton-estate-d...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Medical Centre', 'Laundry',..."
243,Pyramid Urban Homes 2,"1, 2 BHK Apartment in Sector 86, Gurgaon","['Aarvy Healthcare Super Speciality', ""St. Xav...",{'Aarvy Healthcare Super Speciality': '1.8 KM'...,https://www.99acres.com/pyramid-urban-homes-2-...,"{'1 BHK': {'building_type': 'Apartment', 'area...","['Shopping Centre', 'Community Hall', '24x7 Se..."
244,Satya The Hermitage,"2, 3, 4, 5 BHK Apartment in Sector 103, Gurgaon","['Dwarka Expressway', 'S N International Schoo...","{'Dwarka Expressway': '1.2 Km', 'S N Internati...",https://www.99acres.com/satya-the-hermitage-se...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Bus Shelter', 'Swimming Pool', 'Business Lou..."
245,BPTP Spacio,"2, 3 BHK Apartment in Sector 37D, Gurgaon","['Suncity School', 'Gurugram Road', 'Dwarka Ex...","{'Suncity School': '0.2 Km', 'Gurugram Road': ...",https://www.99acres.com/bptp-spacio-sector-37d...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Card Room', 'Piped Gas', 'P..."
246,SS The Coralwood,"2, 3 BHK Apartment in Sector 84, Gurgaon","['Sector 84 Road', 'Delhi Public School, Secto...","{'Sector 84 Road': '600 Meter', 'Delhi Public ...",https://www.99acres.com/ss-the-coralwood-secto...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'School', 'Solar Lighting', ..."

In [3]:
def safe_literal_eval(val):
    try:
        return ast.literal_eval(val)
    except (ValueError, SyntaxError):
        return None
df['TopFacilities'] = df['TopFacilities'].apply(safe_literal_eval)

In [4]:
df['Facilities'] = df['TopFacilities'].apply(lambda x: ' '.join(x) if isinstance(x, list) else '')

In [5]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1, 2))
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Facilities'])

In [7]:
tfidf_matrix.toarray()[0].shape

(973,)

In [8]:
cosine_sim1 = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [9]:
def recommend_properties(property_name, cosine_sim=cosine_sim1):
    idx = df.index[df['PropertyName'] == property_name].tolist()[0]
    sim_scores = list(enumerate(cosine_sim1[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    property_indices = [i[0] for i in sim_scores]
    
    recommendations_df = pd.DataFrame({
        'PropertyName': df['PropertyName'].iloc[property_indices],
        'SimilarityScore': sim_scores
    })
    return recommendations_df

In [10]:
import pandas as pd
import json

# Load the dataset
df_appartments = pd.read_csv('C:/Users/ASUS/Downloads/apartments.csv').drop(22)
def refined_parse_modified_v2(detail_str):
    try:
        details = json.loads(detail_str.replace("'", "\""))
    except:
        return {}

    extracted = {}
    for bhk, detail in details.items():
        extracted[f'building type_{bhk}'] = detail.get('building_type')
        area = detail.get('area', '')
        area_parts = area.split('-')
        if len(area_parts) == 1:
            try:
                value = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area low {bhk}'] = value
                extracted[f'area high {bhk}'] = value
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None
        elif len(area_parts) == 2:
            try:
                extracted[f'area low {bhk}'] = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area high {bhk}'] = float(area_parts[1].replace(',', '').replace(' sq.ft.', '').strip())
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None
        price_range = detail.get('price-range', '')
        price_parts = price_range.split('-')
        if len(price_parts) == 2:
            try:
                extracted[f'price low {bhk}'] = float(price_parts[0].replace('â‚¹', '').replace(' Cr', '').replace(' L', '').strip())
                extracted[f'price high {bhk}'] = float(price_parts[1].replace('â‚¹', '').replace(' Cr', '').replace(' L', '').strip())
                if 'L' in price_parts[0]:
                    extracted[f'price low {bhk}'] /= 100
                if 'L' in price_parts[1]:
                    extracted[f'price high {bhk}'] /= 100
            except:
                extracted[f'price low {bhk}'] = None
                extracted[f'price high {bhk}'] = None

    return extracted
data_refined = []

for _, row in df_appartments.iterrows():
    features = refined_parse_modified_v2(row['PriceDetails'])
    new_row = {'PropertyName': row['PropertyName']}
    for config in ['1 BHK', '2 BHK', '3 BHK', '4 BHK', '5 BHK', '6 BHK', '1 RK', 'Land']:
        new_row[f'building type_{config}'] = features.get(f'building type_{config}')
        new_row[f'area low {config}'] = features.get(f'area low {config}')
        new_row[f'area high {config}'] = features.get(f'area high {config}')
        new_row[f'price low {config}'] = features.get(f'price low {config}')
        new_row[f'price high {config}'] = features.get(f'price high {config}')
    
    data_refined.append(new_row)

df_final_refined_v2 = pd.DataFrame(data_refined).set_index('PropertyName')

In [11]:
df_final_refined_v2['building type_Land'] = df_final_refined_v2['building type_Land'].replace({'':'Land'})

In [12]:
categorical_columns = df_final_refined_v2.select_dtypes(include=['object']).columns.tolist()
ohe_df = pd.get_dummies(df_final_refined_v2, columns=categorical_columns, drop_first=True)
ohe_df.fillna(0,inplace=True)

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
ohe_df_normalized = pd.DataFrame(scaler.fit_transform(ohe_df), columns=ohe_df.columns, index=ohe_df.index)
ohe_df_normalized.head()

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,building type_2 BHK_Independent Floor,building type_2 BHK_Service Apartment,building type_3 BHK_Independent Floor,building type_3 BHK_Service Apartment,building type_3 BHK_Villa,building type_4 BHK_Independent Floor,building type_4 BHK_Villa,building type_5 BHK_Independent Floor,building type_5 BHK_Villa,building type_6 BHK_Villa
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,-0.252266,-0.169584,-0.105197,-0.082332,1.223499,1.020101,-0.173712,1.158423,0.553787,0.370864,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
M3M Crown,-0.252266,-0.169584,-0.105197,-0.082332,-0.893541,-0.896660,-0.283546,-0.387986,0.293086,0.472749,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
Adani Brahma Samsara Vilasa,-0.252266,-0.169584,-0.105197,-0.082332,-0.893541,-0.896660,-0.283546,-0.387986,0.500583,1.304803,...,-0.289310,-0.063888,2.683282,-0.063888,-0.171139,3.924283,-0.236208,-0.111111,-0.216353,-0.063888
Sobha City,-0.252266,-0.169584,-0.105197,-0.082332,1.240497,1.470610,-0.198425,1.680336,0.405879,0.619632,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
Signature Global City 93,-0.252266,-0.169584,-0.105197,-0.082332,0.622383,0.667529,-0.232468,0.295011,-0.100626,-0.070634,...,3.456497,-0.063888,2.683282,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888

In [14]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim2 = cosine_similarity(ohe_df_normalized)
def recommend_properties_with_scores(property_name, top_n=247):
    sim_scores = list(enumerate(cosine_sim2[ohe_df_normalized.index.get_loc(property_name)]))
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    top_properties = ohe_df_normalized.index[top_indices].tolist()
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return recommendations_df
recommend_properties_with_scores('M3M Golf Hills')

                PropertyName  SimilarityScore
0    AIPL The Peaceful Homes         0.955462
1         Smartworld One DXP         0.954670
2             Unitech Escape         0.953092
3                M3M Capital         0.951156
4                 BPTP Terra         0.943128
..                       ...              ...
240              Golden Park        -0.522391
241      Satya Merano Greens        -0.523660
242       ROF Normanton Park        -0.525129
243          BPTP Green Oaks        -0.525286
244           JMS The Nation        -0.526287

[245 rows x 2 columns]

In [15]:
def distance_to_meters(distance_str):
    try:
        if 'Km' in distance_str or 'KM' in distance_str:
            return float(distance_str.split()[0]) * 1000
        elif 'Meter' in distance_str or 'meter' in distance_str:
            return float(distance_str.split()[0])
        else:
            return None
    except:
        return None

In [16]:
location_matrix = {}
for index, row in df.iterrows():
    distances = {}
    for location, distance in ast.literal_eval(row['LocationAdvantages']).items():
        distances[location] = distance_to_meters(distance)
    location_matrix[index] = distances
location_df = pd.DataFrame.from_dict(location_matrix, orient='index')
location_df.head()

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,MCC Cricket Ground Dhankot,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Holiday Inn,Sector 84 Road,Skyview Corporate Park
0,800.0,2500.0,3100.0,3100.0,4900.0,5400.0,1200.0,7700.0,7200.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,550.0,NaN,NaN,NaN,NaN,6700.0,3800.0,NaN,NaN,7500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,5300.0,NaN,NaN,NaN,2500.0,8800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1500.0,NaN,NaN,NaN,6500.0,6700.0,5100.0,NaN,NaN,8200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,5500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
location_df.index = df.PropertyName

In [18]:
location_df.fillna(54000,inplace=True)

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
location_df_normalized = pd.DataFrame(scaler.fit_transform(location_df), columns=location_df.columns, index=location_df.index)

In [20]:
cosine_sim3 = cosine_similarity(location_df_normalized)

In [21]:
def recommend_properties_with_scores(property_name, top_n=247):
    
    cosine_sim_matrix = 30*cosine_sim1 + 20*cosine_sim2 + 8*cosine_sim3
    sim_scores = list(enumerate(cosine_sim_matrix[location_df_normalized.index.get_loc(property_name)]))
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    top_properties = location_df_normalized.index[top_indices].tolist()
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    return recommendations_df
recommend_properties_with_scores('Ireo Victory Valley')

               PropertyName  SimilarityScore
0    Pioneer Urban Presidia        28.021460
1        Ambience Creacions        27.787913
2             DLF The Crest        24.205986
3             Pioneer Araya        23.415308
4               SS The Leaf        21.012590
..                      ...              ...
240          JMS The Nation       -14.735656
241     Shree Vardhman City       -14.923561
242          JMS Prime Land       -15.082229
243       Vatika Aspiration       -15.148347
244           Corona Greens       -15.673834

[245 rows x 2 columns]

In [22]:
location_df

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,MCC Cricket Ground Dhankot,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Holiday Inn,Sector 84 Road,Skyview Corporate Park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,800.0,2500.0,3100.0,3100.0,4900.0,5400.0,1200.0,7700.0,7200.0,7400.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
M3M Crown,550.0,54000.0,54000.0,54000.0,54000.0,6700.0,3800.0,54000.0,54000.0,7500.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Adani Brahma Samsara Vilasa,5300.0,54000.0,54000.0,54000.0,2500.0,8800.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Sobha City,1500.0,54000.0,54000.0,54000.0,6500.0,6700.0,5100.0,54000.0,54000.0,8200.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Signature Global City 93,54000.0,54000.0,54000.0,5500.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Pyramid Urban Homes 2,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Satya The Hermitage,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
BPTP Spacio,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
SS The Coralwood,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0